extends layout 

block summary
  main
    section#expenses.tile
      h2 Expenses
      form(action="/expenses", method="get")
        label(for="all-expenses")      
          table
            thead 
              tr 
                th Date 
                th Description 
                th Category 
                th Amount
            tbody 
              each expense in expenseList
                tr
                  td= expense.fullDate
                  td= expense.description
                  td= expense.category
                  td= `$ ${expense.amount}`
        input#all-expenses(type="submit", name="See all expenses")
    
    section#header.tile
      h1 Expense Manager
      form(action="/summary", method="get") 
        dl 
          dt
            label(for="month")
          dd
            input#month(type="month", name="yearMonth" value=yearMonth)

        input(type="submit", value="Update")
    
    section#month-year-display.tile 
      h2= monthYearTitle
    section#total.tile
      h2 Total 
      ul
        li= `$ ${total}`

    section#categories.tile
      h2 Categories
      each category in categoriesTotal 
        dl 
          dt= category.name 
          dd= `$ ${category.total}`

